name: Node CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
  pull_request:
  schedule:
    - cron: "*/5 * * * *"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout repository # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # 0 indicates all history for all branches and tags. | Added to support lerna's --since origin/master filter | https://github.com/actions/checkout/issues/118

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.3

      - name: Print OS info, Node & Yarn versions
        run: |
          uname -a
          node -v
          yarn -v

      - name: Access node_modules via cache # Ref: https://dev.to/mpocock1/how-to-cache-nodemodules-in-github-actions-with-yarn-24eh
        uses: actions/cache@v2
        id: cache # Ref: https://github.com/actions/cache#skipping-steps-based-on-cache-hit
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn
