name: Node CI

on:
  pull_request:
    branches: [main]
# checkour bring you source code to vm
jobs:
  test_pull_request:
    runs_on: ubuntu-latest
    steps:
      -uses: actions/checkout@v2
      -uses: actions/setup-node@v1
        with:
          node-version: 12
      -run: yarn ci
      -run: yarn run test
      -run: yarn run build